@charset "utf-8";
html,body{
	min-width: 1200px;
	width: 100%;
	height: 100%;
}
/*头部导航开始*/
#global_nav{
	width: 100%;
	height: 29px;
	border-bottom: 1px solid #e2e2e2;
	background: #f5f5f5;
}
.global_nav{
	width: 1200px;
	height: 29px;
	margin: 0 auto;
}
.global_info{
	font-size: 12px;
	text-align: center;
	line-height: 29px;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
#webdhbox{
	display: none;
}
#header_left{
	width: 200px;
	height: 29px;
}
#header_left li{
	float: left;
	padding:0 10px;
}
#header_left .on{
	background: #f5f5f5;
}
#header_left .on a{
	color: red;
}
#hd_me{
	float: left;
}
#hd_me li{
	float: left;
	padding: 0 5px;
}
#hd_help{
	float: left;
}
#hd_help li{
	float: left;
	padding: 0 10px;
}
/*头部导航结束*/
#hd_header{
	width: 100%;
	height: 169px;
}
.hdtop_header{
	width: 1200px;
	height: 133px;
	margin: 0 auto;
}
.hdls_logo{
	width: 355px;
	height: 75px;
	background: url(../images/logo/logo_new.png)no-repeat;
	float: left;
	margin-top:10px ;
}
.hdls_logo a {
	display: block;
	width: 355px;
	height: 75px;
	text-indent: -999px;
}
#hd_search{
	padding-top:28px ;
	width: 490px;
	height: 133px;
	float: left;
	padding-left: 45px;
}
.hdin_not{
	
	width: 488px;
	height:33px ;
	border: 1px solid #c80a28;
}
#hd_search .hdin_not .text {
	width: 398px;
	height: 32px;
	border-bottom: 1px solid #c80a28;
	float: left;
	color: #c80a28;
	font-size: 13px;
	padding-left:5px ;
	padding-top:0px ;
	padding-bottom:0px ;
}
.hdin_not input:last-child{
	width: 85px;
	height: 33px;
	background: #c80a28;
	float: right;
	color: #FFFFFF;
	font-size: 16px;
	cursor: pointer;
}
.hotwords{
	margin-top:5px ;
	font-size: 10px;
	color: #666666;
}
.hdtop_right {
	font-size: 11px;
	color: #ff0032;
	width: 100px;
	height: 133px;
	float: right;
	margin-right: 40px;
	margin-top: 15px;
	text-align: center;
}
/*头部结束*/
.yHeader{        /* 导航最外*/
	width: 100%;
	height: 36px;
	min-width: 1200px;
}
.yNavIndex{       /*导航版心*/
	width: 1200px;
	height: 36px;
	margin: 0 auto;
	position: relative;
}
.yMenuIndex{     /*  导航*/
	width: 990px;
	height: 36px;
	float: right;
	font-size: 12px;
	font-weight: 900;
	line-height: 36px;
	padding-right:20px ;
}
.nav_menuLi{
	padding: 0px 15px;
	float: left;
}
.fright{
	float: right;
	position: relative;
	text-align: center;
}
.zix_x{  /*子菜单*/
	display: none;
	z-index: 99;
	position: absolute;
}
.zix_x li{
	width: 70px;
	height: 20px;
	line-height: 20px;
}
/*全部商品*/
.pullD{
	width: 190px;
	height: 486px;
	position: absolute;
	top: 0px;
	left: 0px;
	background: #e3e3e3;
	z-index: 99;
}
.pullDTitle{
	width: 190px;
	height: 33px;
	background: #fe0032;
	color: #FFFFFF;
	text-align: center;
	line-height: 33px;
}
.listi5 img:last-child{
	display: none;
}
.mliselected{
	width: 177px;
	height: 64px;
	border-bottom: 1px dotted #ccc ;
	padding-left:13px ;
}
.mliselected a{
	font-size: 11px;
	color: #555555;
}
.pullDList li:last-child{
	border: none;
}
.pullDH3_t{   /*全部商品小标题*/
	font-size: 12px;
	color: #333333;
}
/*二级目录*/
.yMenuLCon{
	display: none;
}

/*footer开始*/
#handdu_footer{
	width: 100%;
	height: 455px;
	position: relative;
}
.footer_info{
	width: 1200px;
	height: 145px;
	background: #fafafa;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
.info_column{
	width: 200px;
	height: 145px;
	padding-top:20px ;
	float: left;
	text-align: center;
}
.fht21{
	font-size: 14px;
	font-weight: 900;
}
.info_column ul{
	font-size: 11px;
	line-height: 20px;
	margin-top: 10px;
}
/*正品保证*/
.footer_feature{
	width: 1060px;
	height: 115px;
	margin: 0 auto;
	padding: 20px 70px 0px 70px;
	background: url(../images/feature0.png) no-repeat;
	background-size: 100%;
	background-origin: content-box;
}
.footer_black{
	width: 1200px;
	height: 30px;
	margin: 0 auto;
	line-height: 30px;
	background: #393939;
	color: #FFFFFF;
	text-align: center;
}
.footer_black a{
	display: inline-block;
	padding: 0px 20px 0px 15px;
	color: #FFFFFF;
}
/*版权*/
.copyright_info{
	width: 1200px;
	height: 100px;
	margin: 0 auto;
}
.copyright_info span:first{
	display: block;
	width: 905px;
	height: 50px;
	float: left;
}
.copyright_info span:first a{
	float: left;
}
.copyright_info span:first a p{
	display: inline-block;
	text-align: center;
	float: left;
}
.copyright_info span:last-child{
text-align: center;
}
.copyright_info div{
	text-align: center;
}
#handdu_footer .friends{
	width: 1200px;
	height: 30px;
	margin: 0px auto;
	line-height: 30px;
}
#handdu_footer div:last-child span{
	display: block;
	float: left;
}
.friendlink{
	float: left;
}
.friendlink li{
	float: left;
}
/*浮悬模块*/
.float_box{
	display: none;
	width: 0px;
	height: 320px;
	position: fixed;
	right: 100px;
	bottom: 200px;
	z-index: 99;
}
.float_box a{
	display: block;
	width: 72px;
	height: 78px;
	margin-bottom: 1px;
}
.float_box a:last-child{
	height: 57px;
}
.float_box a:nth-of-type(1){
	background: url(../images/float_box4.png) no-repeat left 0px top -6px;
}
.float_box a:nth-of-type(2){
	background: url(../images/float_box4.png) no-repeat left 0px top -86px;
}
.float_box a:nth-of-type(3){
	background: url(../images/float_box4.png) no-repeat left 0px top -166px;
}
.float_box a:nth-of-type(4){
	background: url(../images/float_box4.png) no-repeat left 0px top -246px;
}
.float_box a:nth-of-type(1):hover{
	background: url(../images/float_box4.png) no-repeat left -78px top -6px;
}
.float_box a:nth-of-type(2):hover{
	background: url(../images/float_box4.png) no-repeat left -78px top -86px;
}
.float_box a:nth-of-type(3):hover{
	background: url(../images/float_box4.png) no-repeat left -78px top -166px;
}
.float_box a:nth-of-type(4):hover{
	background: url(../images/float_box4.png) no-repeat left -78px top -246px;
}
/*悬浮广告*/
#ads{
	width: 100%;
	height: 193px;
	background: url(../images/images/DT_bg_01.png) repeat-x;
	min-width: 1200px;
	position: fixed;
	bottom: 0px;
	z-index: 999999;
}
.ads_inner{
	width: 1200px;
	height: 193px;
	background: url(../images/DT.png) center;
	position: absolute;
	margin: 0px auto;	
}
.ads_btn{
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 15px;
	position: absolute;
	left: 850px;
	top: 20px;
}
