@charset "utf-8";

#wrap_main{
	width: 100%;
	height: auto;
}
#inner_main{
	width: 1200px;
	height: auto;
	margin: 0 auto;
}
.position{
	width: 1200px;
	height: 60px;
}
.position ul li{
	float: left;
	line-height: 60px;
	padding: 0px 10px;
}
